<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wavenet.maintenance.dao.mapper.EventTypeMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        event_type_code, event_type_pcode, event_standard, name, unit, note, sort,lv,state
    </sql>

    <select id="getEventTypeById" resultType="com.wavenet.maintenance.web.vo.EventTypeQueryVo">
        select
        <include refid="Base_Column_List"/>
        from EVENT_TYPE where event_type_code = #{id}
    </select>
    <select id="selectListByParentCode" resultType="com.wavenet.maintenance.web.vo.EventTypeQueryVo">
        select
        <include refid="Base_Column_List"/>
        from EVENT_TYPE where event_type_pcode = #{id}
        order by sort
    </select>

    <select id="getEventTypePageList" resultType="com.wavenet.maintenance.web.vo.EventTypeQueryVo">
        select
        <include refid="Base_Column_List"/>
        from EVENT_TYPE
    </select>
    <!--根据名称查询-->
    <select id="selectByName" parameterType="java.lang.String" resultType="com.wavenet.maintenance.web.vo.EventTypeQueryVo">
        select * from EVENT_TYPE where name=#{name}
    </select>
    <!--根据code查询-->
    <select id="selectByCode" parameterType="java.lang.String" resultType="com.wavenet.maintenance.web.vo.EventTypeQueryVo">
        select * from EVENT_TYPE where event_type_code=#{code}
    </select>
    <!--查询lv为3的父节点和自己-->
    <select id="selectParent" parameterType="java.lang.String" resultType="com.wavenet.maintenance.web.vo.EventTypeQueryVo">
        select * from EVENT_TYPE where event_type_pcode=#{pcode}
        UNION
        select * from EVENT_TYPE where  event_type_code=#{pcode}
    </select>
    <select id="selectInfoByName" parameterType="java.lang.String" resultType="com.wavenet.maintenance.web.vo.EventInfoQueryVo">
        select * from event_info where event_type=#{type}
    </select>
</mapper>
