<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wavenet.maintenance.dao.mapper.PatrolGpsRealtimeMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        gps_code, patrol_code, person_code, uplaod_date, x, y, type, road_section_code, speed, mileage
    </sql>

    <select id="getPatrolGpsRealtimeById" resultType="com.wavenet.maintenance.web.vo.PatrolGpsRealtimeQueryVo">
        select
        <include refid="Base_Column_List"/>
        from PATROL_GPS_REALTIME where GPS_CODE = #{id}
    </select>

    <select id="getPatrolGpsRealtimePageList" resultType="com.wavenet.maintenance.web.vo.PatrolGpsRealtimeQueryVo">
        select
        <include refid="Base_Column_List"/>
        from PATROL_GPS_REALTIME
    </select>

</mapper>
